.footer {
  background-color: rgba(1, 103, 126, 1);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  opacity: 100%;
}

.footer:hover {
  opacity: 100%;
}

.footer-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-item {
  color: white;
  font-size: 30px;
  padding: 0px 30px;
}

.footer-item:hover {
  color: black;
  cursor: pointer;
}
